@media screen and (max-width: 800px){
    .about-grid{
        grid-template-columns: 1fr;
        column-gap: 7px;
        row-gap: 7px;
    }
}


@media screen and (max-width: 760px) {
    .timeline::after{
        display: none;
    }

    .timeline li .timeline-content{
        width: 100%;
        text-align: center;
    }
}