@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    line-height: 28px;
}

/* custom styles*/
.pt-100{
    padding-top: 100px;
}

.pb-100{
    padding-bottom: 100px;
}

/*Navbar*/
nav .inav{
    background: transparent;
    padding: 21px 0;
    transition: all .3s ease-in-out;
}

.ibrand{
    width: 34px;
}

.fa-code{
    font-size: 14px;
}

nav .navbar-brand{
    color: #000;
    font-weight: 700;
    font-size: 28px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
}

nav .navbar-nav .nav-link{
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu';
}

nav .navbar-nav .nav-link{
    margin-left: 14px;
}



/*========================= Home Section ===================================*/
.banner-area{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    height: 100vh;

}

.banner-area:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple;
    opacity: .45;
    z-index: -11;
}

.banner h1{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}

.banner h1:hover{
    -webkit-text-stroke: 3px black !important;
    color: transparent !important;
    transition: 0.3s ease-in;
}


.banner h3{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}

.banner h3:hover{
    -webkit-text-stroke: 2px #000 !important;
    color: transparent !important;
    transition: 0.3s ease-in;
}

.btn-main{
    background-color: rgba(0, 0, 0, 0.8);
    color: purple;
    transition: all .3s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50%;
    border: none;
    padding: 10px 14px;
    margin-top: 21px;
}

.btn-main:hover{
    background-color: purple;
    color: #000;
    transition: all .3s ease-in-out;
}




/*================================= About Section =====================================*/
#about{
    background: linear-gradient(90deg, rgba(128, 0, 128, 0.304), rgba(128, 0, 128, 0.211));
}

#about h2{
    font-weight: 700;
    font-size: 35px;
    margin-top: 14px;
}

#about h4{
    font-weight: 700;
    font-size: 28px;
    margin-top: 14px;
}

.about-content h5{
    font-weight: 700;
    font-size: 28px;
}

.underline{
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.underline::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg,purple, rgb(101, 0, 101));
    transition: width .3s ease-in-out;
}

.underline:hover::before{
    width: 100%;
}

.purp{
    color:rgb(101, 0, 101);
}

.wrapper{
    width: 350px;
    height: 400px;
    perspective: 1000px;
    margin: 8rem auto;
    border-radius: 10px;
    box-shadow: 0 21px 35px black;
}

.flipper-inner-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.wrapper:hover .flipper-inner-wrapper{
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-front,
.flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-front p,
.flip-back p{
    margin-top: 14px;
}

.flip-front{
    background-color: #000;
}

.flip-front p{
    color: purple;
    font-weight: 600;
}

.flip-back p{
    font-weight: 600;
    -webkit-text-stroke: 1px purple !important;
    color: transparent !important;
}

.flip-back{
    background-color: #fff !important;
    width: 350px;
    height: 400px;
    transform: rotateY(180deg);
}