@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6,a{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    line-height: 28px;
}

section{
    min-height: 100px;
}

/* custom styles*/
.pt-100{
    padding-top: 100px;
}

.pb-100{
    padding-bottom: 100px;
}

/*Navbar*/
nav .inav{
    background: transparent;
    padding: 21px 0;
    transition: all .3s ease-in-out;
}

.ibrand{
    width: 34px;
}

.icode{
    font-size: 14px;
}

nav .navbar-brand{
    color: #000;
    font-weight: 700;
    font-size: 28px;
    font-family: 'Ubuntu';
    text-transform: uppercase;
}

nav .navbar-nav .nav-link{
    color: #000 !important;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Ubuntu';
}

nav .navbar-nav .nav-link{
    margin-left: 14px;
}

a.nav-link.active{
    background: -webkit-linear-gradient(var(purple), var(rgb(98, 1, 98)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: purple;
}



/*========================= Home Section ===================================*/
.banner-area{
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    height: 120vh;

}

.banner-area:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: purple;
    opacity: .45;
    z-index: -11;
}

.banner h1{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}

.banner h1:hover{
    -webkit-text-stroke: 3px black !important;
    color: transparent !important;
    transition: 0.3s ease-in;
}


.banner h3{
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    transition: 0.3s ease-in;
    text-transform: uppercase;
}

.banner h3:hover{
    -webkit-text-stroke: 2px #000 !important;
    color: transparent !important;
    transition: 0.3s ease-in;
}

.btn-main{
    background-color: rgba(0, 0, 0, 0.8);
    color: purple;
    transition: all .3s ease-in-out;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50%;
    border: none;
    padding: 10px 14px;
    margin-top: 21px;
}

.btn-main:hover{
    background-color: purple;
    color: #000;
    transition: all .3s ease-in-out;
    transform: translateY(7px);
}




/*================================= About Section =====================================*/
#about{
    background: linear-gradient(90deg, rgba(128, 0, 128, 0.304), rgba(128, 0, 128, 0.211));
}

.about-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7px;
    row-gap: 7px;
}

#about h2{
    font-weight: 700;
    font-size: 35px;
    margin-top: 14px;
}

#about h4{
    font-weight: 700;
    font-size: 28px;
    margin-top: 14px;
}

.about-content h5{
    font-weight: 700;
    font-size: 28px;
}

.underline{
    display: inline-block;
    position: relative;
    padding-bottom: 7px;
}

.underline::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg,purple, rgb(101, 0, 101));
    transition: width .3s ease-in-out;
}

.underline:hover::before{
    width: 100%;
}

.purp{
    color:rgba(164, 0, 164, 0.756);
}

.wrapper{
    width: 340px;
    height: 400px;
    perspective: 1000px;
    margin: 8rem auto;
    border-radius: 10px;
    box-shadow: 0 21px 35px black;
}

.flipper-inner-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.wrapper:hover .flipper-inner-wrapper{
    transform: rotateY(180deg);
    cursor: pointer;
}

.flip-front,
.flip-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-front p,
.flip-back p{
    margin-top: 14px;
    font-size: 16px;
}

.flip-back{
    background-color: rgba(0, 0, 0, 0.777);
}

.flip-back p{
    color: purple;
    font-weight: 700;
    font-size: 16px;
}

.flip-front p{
    font-weight: 700;
    color: purple !important;
}

.flip-front{
    background-color: #fff !important;
    width: 340px;
    height: 400px;
    transform: rotateY(180deg);
}





/*======================== Services ============================*/
#services{
    position: relative;
    z-index: 2;
}

.purp-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 0, 128, 0.415);
    z-index: -1;
}

.img-bg{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section-title{
    margin-bottom: 49px;
}

.section-title h2{
    font-weight: 700;
    font-size: 35px;
}

.section-title p{
    font-weight: 700;
    font-size: 21px;
}

.iservice{
    text-align: center;
    padding: 28px;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: rgba(255, 255, 255, 0.885);
    box-shadow: 3px 7px 14px black;
    transition: all .4s ease-in;
    border: 2px solid black;
}

.iservice:hover{
    transition: all .4s ease-out;
    transform: translateY(14px);
}

.iservice i{
    background-color: purple;
    width: 56px;
    height: 56px;
    color: #fff;
    font-size: 21px;
    line-height: 56px;
    transition: all .4s ease-in;
}

.iservice i:hover{
    transition: all .4s ease-out;
    border-radius: 50%;
    color: black;

}

.iservice h4{
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 7px;
}

.iservice p{
    font-weight: 700;
}




/*============================ Counter Area ===============================*/
.counter-area{
    background: linear-gradient(90deg, rgba(128, 0, 128, 0.333), rgba(0, 0, 0, 0.333));
}

.indiv-counter{
    text-align: center;
}

.indiv-counter i{
    background-color: purple;
    width: 56px;
    height: 56px;
    color: #fff;
    font-size: 21px;
    line-height: 56px;
    transition: all .4s ease-in;
    margin-bottom: 7px;
}

.indiv-counter i:hover{
    transition: all .4s ease-out;
    border-radius: 50%;
    color: black;

}

.indiv-counter p, .indiv-counter h4{
    font-weight: 700;
    font-size: 21px;
}




/*============================= Experience Section ==============================*/
.timeline{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: purple;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.timeline-content{
    width: 45%;
    border: 2px solid purple;
    text-align: right;
    padding: 21px;
}

.timeline-content span{
    display: block;
    color: purple;
    font-weight: 700;
}

.timeline-content h4{
    font-size: 21px;
    font-weight: 700;
    margin: 10px 0;
}

.timeline .timeline-content{
    clear: both;
    display: table;
    position: relative;
}

.timeline .timeline-content:nth-child(even){
    float: right;
    text-align: left;
}





/*========================= Reviews Section =========================*/
#reviews{
    position: relative;
    z-index: 2;
}

.indiv-review{
    text-align: center;
}

.indiv-review img{
    border-radius: 50%;
    width: 120px !important;
    margin: 0 auto;
}

.indiv-review p{
    margin-top: 21px;
    font-size: 16px;
    font-weight: 700;
    max-width: 700px;
    margin: 21px auto;
}

.client-info h4{
font-weight: 700;
}

h4 span{
    display: block;
    font-size: 18px;
    margin-top: 7px;
    font-weight: 900;
}

.fa-star{
    color: goldenrod;
}

/*owlCarousel*/
.owl-theme .owl-dots .owl-dot span{
    background-color: white !important;
    width: 15px;
    height: 15px;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50%;
}


.owl-theme .owl-dots .owl-dot span:hover{
    background-color: purple !important;
}



/*============ Price Area =============*/
.prices{
    background-color: rgba(128, 128, 128, 0.3);
}

.pricelist{
    text-align: center;
    background-color: #fff;
    padding: 21px 28px;
    margin: 14px 21px;
    transition: all .3s ease-in;
}

.pricelist:hover{
    border: 3px solid purple;
    transition: all .3s ease-out;
}

.pricelist i{
    text-decoration: none;
}

.pricelist h5{
    font-weight: 800;
    text-transform: uppercase;
}

.pricelist h2{
    font-weight: 800;
    background-color: rgba(128, 128, 128, 0.333);
    margin: 14px 0;
    padding: 14px;
    transition: all .3s ease-in;
}

.pricelist h2:hover{
    transition: all .3s ease-out;
    border-radius: 50%;
    background-color: purple;
    color: #000;
}

.pricelist ul li{
    font-weight: 700;
    padding-bottom: 14px;
    margin-bottom: 14px;
    text-transform: capitalize;
}


/*=============================Contact Section ==================================*/
#contact{
    position: relative;
    z-index: 2;
}

.cont{
    color: black;
}

form .form-control{
    border: 0.5;
    background: transparent;
    color: #fff;
    border-color: rgba(128, 0, 128, 0.463);
}

form .form-control:focus{
    color: white;
    background: transparent;
    border-color: rgba(128, 0, 128, 0.463);
}

form input .form-control{
    height: 56px;
}

form .form-control::placeholder{
    color: white;
}

.icontacts{
    display: grid;
}

.contact-option{
    margin-right: 28px;
}

.contact-option i{
    background-color: purple;
    width: 56px;
    height: 56px;
    color: #000;
    font-size: 21px;
    line-height: 56px;
    transition: all .4s ease-in;
}

.contact-option i:hover{
    transition: all .4s ease-out;
    border-radius: 50%;
    color: white;
}






/*===================== Footer ========================*/
footer{
    background: linear-gradient(90deg, purple, black);
}
.social-links i{
    color: black;
    font-size: 21px;
    transition: all .3s ease-in;
}

.social-links i:hover{
    color: purple;
    transition: all .3s ease-out;
}